<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <script src="angular.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMlRoQf5-BSL2GOwYb4ThM7LPsKVQRtgw"></script>
    <script src="weatherapp.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="weatherApp" ng-controller="MainController">
    <div id="map"></div>
    <div id="sidebar">
        <div ng-click="result.openInfoWindow()" ng-repeat="result in data.list">
          <h3>{{result.name}}</h3>
          <img ng-show="result.main.temp > 80" src="hot.png"/>
          <img ng-show="(result.main.temp >= 60 && result.main.temp <= 80)" src="normal.png"/>
          <img ng-show="result.main.temp < 60" src="cold.png"/>
        Current Temp:
        {{result.main.temp}}°
        </div>
    </div>
  </body>
</html>
